# Common
#
.DS_Store
[Tt]humbs.db
[Dd]esktop.ini
*.bak
*~
.~*#
.directory

GpsMaster.config

# Intermediate build files
*.class
bin/

# IDEA project files
.idea/*
# keep dependency settings
!/.idea/jarRepositories.xml
!/.idea/modules.xml
!/.idea/libraries/

